.field {
  height: 80%;
  border: 1px solid darkred;
  margin: 10px;
}
.bat {
  width: 30px;
  height: 150px;
  border-radius: 10px;
}
.field:hover .bat-1 {
  transform: rotate(10deg);
}
.bat-1 {
  background-color: darkseagreen;
  position: relative;
  left: 100px;
  top: 30px;
  transform: rotate(45deg);
  transform-origin: top right;
  transition: transform 0.2s ease-in;
}
.field:hover .bat-2 {
  transform: rotate(-60deg);
}
.bat-2 {
  background-color: darkslateblue;
  position: relative;
  left: 800px;
  top: -160px;
  transform: rotate(-45deg);
  transition: transform 0.2s ease-in 0.2s;
}
.field:hover .bat-3 {
  transform: rotate(-10deg);
}
.bat-3 {
  background-color: darkturquoise;
  position: relative;
  top: 100px;
  left: 50px;
  transform: rotate(-45deg);
  transition: transform 0.2s ease-in 0.4s;
}
.field:hover .bat-4 {
  transform: rotate(10deg);
}
.bat-4 {
  background-color: deeppink;
  position: relative;
  left: 800px;
  bottom: 50px;
  transform: rotate(45deg);
  transition: transform 0.2s ease-in 0.6s;
}
.ball {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: darkred;
  position: absolute;
  top: 100px;
  left: 94px;
}
.field:hover .ball {
  animation: playing 4s ease-in infinite alternate;
}
@keyframes playing {
  25% {
    transform: translate(650px, -50px);
  }
  45% {
    transform: translate(0px, 380px);
  }
  65% {
    transform: translate(690px, 400px);
  }
}
